.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;
    font-family: 'Inter',sans-serif;
}

.card{
    display: none;
}

@media (min-width:1024px) {
    .container{
        justify-content: space-evenly;
        background: linear-gradient(135deg,#f1f5f9 50%,#2563eb 50%);
    }
    .card{
        display: block;
        color: black;
        max-width: 400px;
    }
    .card h1{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    .card p{
        font-size: 1.25rem;
        opacity: 0.9;
    }
}